 <div class="container">
    <div class="main">
        <div class="title">Details</div>
        <div>
            <span>Full name</span>
            <span> : </span>
            <span class="name">{{details.name}}</span>
        </div>
        <div>
            <span>Username</span>
            <span> : </span>
            <span class="name">{{details.username}}</span>
        </div>
        <div>
            <span>Billing Address</span>
            <span> : </span>
            <span class="name">{{details.billing}}</span>
        </div>
        <div>
            <span>Pincode</span>
            <span> : </span>
            <span class="name">{{details.pincode}}</span>
        </div>
        <div>
            <span>Phone Number</span>
            <span> : </span>
            <span class="name">{{details.phone}}</span>
        </div>
        <div>
            <span>Card Number</span>
            <span> : </span>
            <span class="name">{{details.cardnumber}}</span>
        </div>
        <div>
            <span>Expiry Date</span>
            <span> : </span>
            <span class="name">{{details.expirydate}}</span>
        </div>
        <div>
            <span>Secure Code</span>
            <span> : </span>
            <span class="name">{{details.securecode}}</span>
        </div>
        <div>
            <span>Name On Card</span>
            <span> : </span>
            <span class="name">{{details.nameoncard}}</span>
        </div>
    </div>
 </div>